.button {
  color: white !important;
  background-color: var(--main-green-1) !important;
}

.signUp {
  font-size: 12px !important;
  text-decoration: underline;
}

:global(.ui.modal>.content) {
  font-family: Comfortaa, cursive !important;
  margin-bottom: 30px;
  line-height: 40px;
}

:global(.ui.modal>.actions) {
  font-family: Comfortaa, cursive !important;
  text-align: center;
}
