.subscribeSection {
  background-color: var(--main-green-3);
  width: 100%;
  text-align: center;
}

.subscribeContainer {
  display: inline-block;
  padding-top: 10px;
}

.subcribeCol {
  float: left;
  padding: 5px 10px;
}

.subscribeText {
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  margin-top: 10px;
}

.subscribeBtn {
  background-color: #ffffff !important;
  border-radius: 5px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.subscribeBtn span {
  color: var(--main-green-3);
}

.errorMsg {
  color: var(--error-red);
}

@media (min-width: 641px) {
  .subscribeSection {
    background-color: var(--main-green-3);
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 961px) {
  .subscribeSection {
    background-color: var(--main-green-3);
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1025px) {
  .subscribeSection {
    background-color: var(--main-green-3);
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1281px) {
  .subscribeSection {
    background-color: var(--main-green-3);
    padding-left: 50px;
    padding-right: 50px;
  }
}
